* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-psadding, 5rem);
  background-color: #191919;
}

.primary-navigation {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.5rem;
  background: var(--clr-primary-400);
}

.banner {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(imgLouw2.jpg);
  background-position: center;
  background-size: cover;

  animation: fade-in 0.5s;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(220, 68%, 54%);
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: hsl(220, 48%, 28%);
  --text-color: hsl(220, 12%, 45%);

  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 24%, 18%);
  --white-color: #fff;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;
  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 100%;
}

/*=============== HEADER ===============*/
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 100%;
}

nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background: var(--black-color);
}

nav .wrapper {
  position: relative;
  max-width: 100%;
  height: 85px;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .logo {
  color: #f2f2f2;
  font-size: 40px;
  font-weight: 600;
}

.wrapper .links {
  display: inline-flex;
}

.wrapper .links li {
  list-style: none;
}

.login,
.links li a {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 500;
  padding: 2px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.links li a:hover {
  background: var(--black-color-lighten);
}



.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.home .title {
  font-size: 45px;
  font-weight: 600;
}

.wrapper .links li .dropdown {
  position: absolute;
  background: var(--black-color-light);
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.links li:hover .dropdown {
  transition: all 0.2s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.dropdown li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}

.megaMenu {
  position: absolute;
  left: 0;
  width: 101%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.wrapper .links li:hover .megaMenu {
  transition: all 0.2s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.megaMenu .content {
  width: 100%;
  background: var(--black-color-light);
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.megaMenu .row {
  width: calc(25% - 30px);
  line-height: 27px;
}



.megaMenu header {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.megaMenu .row .megalinks {
  margin-left: -10px;
  border-left: 1px solid var(--text-color);
}

.megaMenu .row .megalinks li {
  padding: 0 20px;
}

.megalinks li a {
  padding: 0px;
  padding: 0 10px;
  color: #d9d9d9;
  font-size: 15px;
  display: block;
}

.megalinks li a:hover {
  color: #f2f2f2;
}

.wrapper input {
  display: none;
}

.wrapper .btns {
  display: flex;
  align-items: center;

}

.wrapper .btn {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btn.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

.links li label {
  display: none;
}

@media (max-height:1222px) {
  nav .wrapper {
    padding-left: 12%;
    padding-right: 12%;
  }

  .megalinks li a {
    font-size: 14px;
  }

  .megaMenu .row {
    line-height: 25px;
  }
}

@media (max-width: 1160px) {
  .wrapper .logo {
    font-size: 30px;
  }

  .wrapper .btn {
    display: block;
  }

  .wrapper .links {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    top: 0;
    left: -100%;
    background: var(--black-color);
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }

  #menu-btn:checked~.links {
    left: 0%;
  }

  #menu-btn:checked~.btns {
    display: none;
  }

  #close-btn:checked~.btns {
    display: flex;
  }

  .links li {
    margin: 15px 10px;
  }

  .links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }

  .links li a.hide {
    display: none;
  }

  .links li label {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .links li label:hover {
    background: #3a3b3c;
  }

  .wrapper .links li .dropdown {
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    overflow: hidden;
    box-shadow: none;
    max-height: 0px;
    transition: all 0.3s ease;
  }

  #dropdown:checked~.dropdown {
    max-height: 100%;
  }

  .dropdown li {
    margin: 0;
  }

  .dropdown li a {
    border-radius: 5px;
    font-size: 18px;
  }

  .megaMenu {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }

  #mega:checked~.megaMenu {
    max-height: 100%;
  }

  .megaMenu .content {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }

  .megaMenu .content .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }

  .megaMenu .content .row:nth-child(1),
  .megaMenu .content .row:nth-child(2) {
    border-top: 0px;
  }

  .content .row .megalinks {
    border-left: 0px;
    padding-left: 15px;
  }

  .row .megalinks li {
    margin: 0;
  }

  .content .row header {
    font-size: 19px;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #242526;
  }

  ::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 10px;
  }
}

.contact-container {
  display: block;
}

.services p {
  color: #c1c1c1;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 15px;
  margin-bottom: 100px;
}

.contact {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-sub {
  color: white;

  position: relative;
  font-size: 50px;
  margin-bottom: 5px;
  font-weight: 500;
  padding-bottom: 20px;
  color: white;
}

.contact-container {
  padding: 10px 5%;
}

.contact-left {
  flex-basis: 50%;
}

.contact-right {
  flex-basis: 50%;
}

.contact-left p i {
  color: white;
  font-size: 25px;
  margin-right: 30px;
  margin-bottom: 10px;
}

.contact-icons {
  margin-top: 30px;

}

.contact-left p {
  color: #c1c1c1;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
}

.contact-icons a {
  text-decoration: none;
  font-size: 35px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.contact-icons a:hover {
  color: var(--body-color);
  transform: translateY(-5px);
}

.btn-sumbit {
  display: inline-block;
  background: var(--black-color);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: var(--black-color);
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}

.contact-form .btn-sumbit {
  float: right;
  background: var(--black-color);
  color: whitesmoke;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  transition-property: background;
}

.contact-form .btn-sumbit:hover {
  background: linear-gradient(90deg, #08ff08, #50e3fc, #bc13fe, #03a9f4, #0ff0fc);
  background-size: 500%;
  z-index: 1;
  animation: blink 7s linear infinite;
}

@keyframes blink {
  from {
    background-position: 0%;
  }

  to {
    background-position: 500%;
  }
}

.contact-form .btn-sumbit::after {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  background: inherit;
  border-radius: 40px;
  filter: blur(50px);
  opacity: 0;
}

.contact-form .btn-sumbit:hover::after {
  opacity: 1;
  z-index: -1;
}

#msg {
  color: #61b752;
  margin-top: 5px;
  display: block;
}

button {
  position: relative;
}
.loader {
  position: fixed;
  inset: 0;
  z-index: 5;
  background-color: white;
  transform: translatex(0%);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1) 0.2s;
  will-change: transform;
}
.a,
.b,
.c {
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
  transition-delay: -0.1s;
  transition-timing-function: ease-in-out;
  height: 100%;
}
.ac {
  margin: auto;
}

[data-route=c] .c,
[data-route=b] .b,
[data-route=a] .a {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 0.5s ease-in 0.7s;
}

footer {
  position: relative;
  height: 9px;
  width: 100%;

}

p.copyright {
  position: absolute;
  width: 100%;
  color: #000000;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  background-color: #ffffff;
}

@media (max-width: 915px) {
  .contact-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
  }

  .contact-left {
    flex-basis: 50%;
    width: 500px;
  }

  .contact-right {
    flex-basis: 50%;
    width: 500px;
  }

  .contact {
    margin-top: 18%;
  }
}


@media (max-width: 550px) {

  .contact-sub {
    margin-top: 35px
  }
}

@media (max-width: 555px) {
  .contact-row {
    width: 320px;
  }

  .contact-left {
    flex-basis: 50%;
    width: 320px;
  }

  .contact-right {
    flex-basis: 50%;
    width: 320px;
  }

  .contact-left p {
    font-size: 14px;
  }

  .contact-left p i {
    font-size: 21px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .footerP {
    font-size: 13px;
  }
}